

#microphone {
  background-color: black;
  color: azure;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  

}

label {
  font: bold !important;
}
body {
  background-image:  url(../images/microphone.jpg);
  background-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font: bold;
}

.container {
  background-color: peru;
  
}

.searchButton {
  padding: 2%;
  color: goldenrod;
  background-color: silver;
}

#addSinger {
  background-color: silver;
  color: goldenrod; 
  padding: 2%;
  font-size: 16px;
}

