
h1 {
  background-color: black;
  color: azure;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;

}

body {
  background-image:  url(../images/microphone.jpg);
  background-image: repeating-linear-gradient();
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  background-color: peru;
}
